
.Judul0 {
text-align: center;
Color: black;}

.Judul1 {
    text-align: center;
    color: blue;

    
        border: 1px solid red;}
       
      .Judul2
    {border: 1px solid rgb(116, 100, 131);}